.someClass {
    color: red;
    position: absolute;
   padding-left: 15px;
}

.error {
    border: 1px solid red;
}

input {
    outline: none;
    margin: 15px 15px 0 15px;
}

.container {
    background-color: #dec7c7;
}


button {
    padding: 2px 10px;
    background-color: #813a99;
    border: 1px solid transparent;
    color: #ffffff;
    font-weight: 300;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: #ffffff;
    color: #009ac9;
    border-color: #009ac9;
}

.counter {
    padding-left: 30px;
}

.wrapper{
    height: 70px;
}